body{
    font-family:Arial, Helvetica, sans-serif
}
.app{
    max-width: 764px;
    margin: 0 auto;
}
.timer{
    font-size: 30px;
    text-align: center;
    margin: 50px 0
}
.btn{
    color: balck;
    background: white;
    padding: 15px 70px;
    border: 1px solid black;
    margin-right: 20px;
    
}